/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #dc143c;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .skills, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #dc143c;
}
section .title:after{
    content: '';
    position: absolute;
    width: 30%;
    padding: 3px;
    margin-left: 395px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #dc143c;
    transform-origin: bottom right;
    transition: transform 0.75s ease-out;
}
section .title:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #dc143c;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    position: relative;
    font-size: 35px;
    font-family:Papyrus;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border:2px solid transparent;
    border-radius: 5px;
    padding:10px;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    /* color: rgb(255, 255, 255); */
    border:2px solid rgb(255, 255, 255);
}
.navbar.sticky .menu li a:hover{
    /* color: rgb(255, 255, 255); */
    border:2px solid rgb(255, 255, 255);
}
.navbar .menu li a:active{
    /* color:crimson; */
    border:2px solid rgb(0, 0, 0);
}
.navbar.sticky .menu li a:active{
    /* color:crimson; */
    border:2px solid crimson;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #dc143c;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  /* display: flex; */
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content p{
    max-width: 650px;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgba(255, 255, 255, 0.637);
    margin-left: 4px;
}
.home .home-content a{
    display: inline-block;
    background: #dc143c;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 50px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #dc143c;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #dc143c;
    background: none;
}
.icon{
    margin-left: 12px;
    display: flex;
    margin-top:50px;
    gap: 40px;
}
.icon a{
    background-color: rgb(255, 255, 255);
    
    border:3px solid rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-size: large;
    border-radius: 50%;
    padding:12px;
}
.icon a:hover{
    background-color: rgba(227, 219, 219, 0.961);
    border:3px solid crimson;
    
}
.icon a:active{
    background-color: crimson;
}
/* about section styling */
.about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 480px;
    width: 280px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .left img:hover{
    box-shadow: 5px 10px 16px #888888;
    transition: all 0.5s ease;
    transform: scale(1.1);
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: #dc143c;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #dc143c;
    color: #fff;
    font-size: 20px;
    font-weight: 00;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #dc143c;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #dc143c;
    background: none;
}

/* project section */
.project-content{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.projects .project-content .card{
    width: calc(33% - 40px);
    height: 330px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.904);
    border:3px solid black;
    text-align: center;
    border-radius: 20px;
    padding: 20px 5px;
    cursor: pointer;
    box-shadow: 5px 10px 20px #888888;
    
    transition: all 0.4s linear;
    overflow: hidden;
    display: flex;
    color: white;
}
.projects .project-content .card:hover{
    background: rgb(255, 255, 255);
    border:2px solid #000000;
    background: #484545da;
    color: #ffffff;
    font-weight: 500;
    box-shadow: 5px 10px 18px #888888;
}
.projects .project-content .card a{
    color: #ffffff;
    text-decoration: none;
}
.projects .project-content .card .text{
    font-size: 20px;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.projects .project-content .card p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-wrap: normal;
    font-size: 18;
    margin:6px;
}
.projects .project-content .card img{
    height: 155px;
    width: fit-content;
    border-radius: 15px;
    align-content: center;
    object-fit: cover;
    /* border-radius: 6px; */
}

.projects .project-content .card:hover .box{
    transform: scale(1.08);
}

/* skills section */
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #dc143c;
}
.skills-content .right .html::before{
    width: 85%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 40%;
}
.skills-content .right .cpp::before{
    width: 80%;
}
.skills-content .right .dsa::before{
    width: 60%;
}
.skills-content .right .python::before{
    width: 50%;
}

/* content section */
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row i{
    border:2px solid black;
    background-color: #111;
    color:rgb(255, 255, 255);
    border-radius:50%;
    padding:12px;
    cursor: pointer;
}
.contact .contact-content .row i:hover{
    background-color: #ffffff;
    color:rgb(0, 0, 0);
}
.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
    text-decoration: none;
}
.contact .contact-content .info .sub-title a{
    color: #008000;
    text-decoration: underline;
}

.contact .right form .fields{
    gap: 6px;
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right p{
    margin:3px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(155, 148, 148);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:hover,
.contact .right form .textarea textarea:hover{
    border: 2px solid #dc143c;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}

.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #dc143c;
  border: 2px solid #dc143c;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #dc143c;
  background: none;
}
/* footer section styling */
footer{
    background: #111;
    padding: 15px 25px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #dc143c;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 25px;
    }
}
@media (max-width: 945px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    /* .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    } */
    .projects .project-content .card{
        width: 80%;
        margin:25px;
        flex-direction: column;
    }
   
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }    

    /* .services .serv-content .card{
        width: 100%;
    } */
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }

    /* .projects .project-content .card{
        width: 100%;
        margin:5px;
    }
    .contact .right form .fields{
        flex-direction: column;
    } */
    .projects .project-content .card img{
        padding: 20px;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
